parameters:

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            # We need to have undefined variable for testing purposes
            message: '#^Undefined variable: \$undefined$#'
            path: %currentWorkingDirectory%/src/Controller/Test/ErrorHandlerController.php

includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
