
shopsys_framework:
    resource: "@ShopsysFrameworkBundle/Controller/Admin"
    prefix: /%admin_url%
    type: annotation

shopsys_shop:
    resource: "@ShopsysShopBundle/Resources/config/routing.yml"
    prefix: /

elfinder:
    resource: "@FMElfinderBundle/Resources/config/routing.yml"

admin_flag_delete:
    path: /%admin_url%/product/flag/delete/{id}?routeCsrfToken={routeCsrfToken}
    defaults: { _controller: ShopsysShopBundle:Front\Error:notFound }
    requirements:
        id: \d+

front_additional_image:
    path: /%shopsys.content_dir_name%/images/{entityName}/{type}/{sizeName}/additional_{additionalIndex}_{imageId}.{extension}
    defaults: { _controller: ShopsysShopBundle:Front\Image:getAdditionalImage }
    requirements:
        imageId: \d+
        additionalIndex: \d+

front_additional_image_without_type:
    path: /%shopsys.content_dir_name%/images/{entityName}/{sizeName}/additional_{additionalIndex}_{imageId}.{extension}
    defaults:
        _controller: ShopsysShopBundle:Front\Image:getAdditionalImage
        type: ~
    requirements:
        imageId: \d+

admin_flag_list:
    path: /%admin_url%/product/flag/list/
    defaults: { _controller: ShopsysShopBundle:Front\Error:notFound }

admin_customer_edit:
    path: /%admin_url%/customer/edit/{billingAddressId}
    defaults: { _controller: ShopsysShopBundle:Admin\Customer:edit }
    requirements:
        billingAddressId: \d+

admin_customer_delete:
    path: /%admin_url%/customer/delete/{billingAddressId}
    defaults: { _controller: ShopsysShopBundle:Admin\Customer:delete }
    requirements:
        billingAddressId: \d+
