services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: true

  CommerceGuys\Intl\NumberFormat\NumberFormatRepository: ~

  Shopsys\FrameworkBundle\Component\Localization\DateTimeFormatter:
    factory: ['@Shopsys\FrameworkBundle\Model\Localization\CustomDateTimeFormatterFactory', create]

  Shopsys\FrameworkBundle\Model\Localization\IntlCurrencyRepository: ~

  Shopsys\FrameworkBundle\Component\EntityExtension\EntityNameResolver:
    class: Tests\ShopBundle\Database\EntityExtension\OverwritableEntityNameResolver
    arguments:
      - "%shopsys.entity_extension.map%"

  Shopsys\FrameworkBundle\Model\Product\ProductFactoryInterface:
    alias: Shopsys\ShopBundle\Model\Product\ProductFactory

  Shopsys\ShopBundle\Model\Product\ProductFactory: ~

  Shopsys\FrameworkBundle\Model\Product\ProductDataFactoryInterface:
    alias: Shopsys\ShopBundle\Model\Product\ProductDataFactory

  Shopsys\ShopBundle\Model\Product\ProductDataFactory: ~

  Symfony\Component\Filesystem\Filesystem: ~

  joschi127_doctrine_entity_override.event_subscriber.load_orm_metadata:
    class: Tests\ShopBundle\Database\EntityExtension\OverwritableLoadORMMetadataSubscriber
    arguments:
      - "@service_container"
      - "%shopsys.entity_extension.map%"
    tags:
      - { name: doctrine.event_subscriber, priority: -10 }

  League\Flysystem\FilesystemInterface: '@main_filesystem'

  Shopsys\FrameworkBundle\Model\Category\CategoryFactoryInterface:
    alias: Shopsys\ShopBundle\Model\Category\CategoryFactory

  Shopsys\FrameworkBundle\Model\Category\CategoryDataFactoryInterface:
    alias: Shopsys\ShopBundle\Model\Category\CategoryDataFactory

  Shopsys\FrameworkBundle\Model\Customer\BillingAddressFactoryInterface:
    alias: Shopsys\ShopBundle\Model\Customer\BillingAddressFactory

  Shopsys\FrameworkBundle\Model\Customer\BillingAddressDataFactoryInterface:
    alias: Shopsys\ShopBundle\Model\Customer\BillingAddressDataFactory

  Shopsys\ShopBundle\Model\Category\CategoryFactory: ~

  Shopsys\ShopBundle\Model\Category\CategoryDataFactory: ~

  Shopsys\ShopBundle\Model\Order\OrderFactory: ~

  Shopsys\FrameworkBundle\Model\Order\OrderFactoryInterface:
    alias: Shopsys\ShopBundle\Model\Order\OrderFactory

  Shopsys\ShopBundle\Model\Order\OrderDataFactory: ~

  Shopsys\FrameworkBundle\Model\Order\OrderDataFactoryInterface:
    alias: Shopsys\ShopBundle\Model\Order\OrderDataFactory

  Shopsys\ShopBundle\Model\Transport\TransportFactory: ~

  Shopsys\FrameworkBundle\Model\Transport\TransportFactoryInterface:
    alias: Shopsys\ShopBundle\Model\Transport\TransportFactory

  Shopsys\ShopBundle\Model\Transport\TransportDataFactory: ~

  Shopsys\FrameworkBundle\Model\Transport\TransportDataFactoryInterface:
    alias: Shopsys\ShopBundle\Model\Transport\TransportDataFactory

