imports:
    - { resource: forms.yml }
    - { resource: cron.yml }

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    joschi127_doctrine_entity_override.event_subscriber.load_orm_metadata:
        class: Shopsys\ShopBundle\Component\EntityExtension\LoadORMMetadataSubscriber
        arguments:
            - "@service_container"
            - "%shopsys.entity_extension.map%"
        tags:
            - { name: doctrine.event_subscriber, priority: -10 }

    Shopsys\ShopBundle\Controller\:
        resource: '../../Controller/'
        public: true
        tags: ['controller.service_arguments']

    Shopsys\ShopBundle\Model\:
        resource: '../../Model/**/*{Facade,Factory,Repository}.php'

    Shopsys\ShopBundle\DataFixtures\:
        resource: '../../DataFixtures/**/*DataFixture.php'
        tags: ['doctrine.fixture.orm']

    League\Flysystem\MountManager:
        arguments:
            -
                local: '@local_filesystem'
                main: '@main_filesystem'

    Shopsys\FrameworkBundle\Controller\Admin\CustomerController:
        class: Shopsys\ShopBundle\Controller\Admin\CustomerController
        tags: ['controller.service_arguments']

    Shopsys\ShopBundle\Form\Front\Order\DomainAwareOrderFlowFactory: ~

    Shopsys\FrameworkBundle\Model\Order\OrderFlowFactoryInterface: '@Shopsys\ShopBundle\Form\Front\Order\DomainAwareOrderFlowFactory'

    Shopsys\FrameworkBundle\Model\Article\ArticleFactoryInterface: '@Shopsys\ShopBundle\Model\Article\ArticleFactory'

    Shopsys\FrameworkBundle\Model\Article\ArticleDataFactoryInterface: '@Shopsys\ShopBundle\Model\Article\ArticleDataFactory'

    Shopsys\FrameworkBundle\Model\Customer\BillingAddressFactoryInterface: '@Shopsys\ShopBundle\Model\Customer\BillingAddressFactory'

    Shopsys\FrameworkBundle\Model\Customer\BillingAddressDataFactoryInterface: '@Shopsys\ShopBundle\Model\Customer\BillingAddressDataFactory'

    Shopsys\FrameworkBundle\Model\Customer\CustomerDataFactoryInterface: '@Shopsys\ShopBundle\Model\Customer\CustomerDataFactory'

    Shopsys\FrameworkBundle\Model\Customer\UserFactoryInterface: '@Shopsys\ShopBundle\Model\Customer\UserFactory'

    Shopsys\FrameworkBundle\Model\Customer\UserDataFactoryInterface: '@Shopsys\ShopBundle\Model\Customer\UserDataFactory'

    Shopsys\ShopBundle\Model\Country\CountryRepository: ~

    Shopsys\FrameworkBundle\Model\Country\CountryRepository: '@Shopsys\ShopBundle\Model\Country\CountryRepository'

    Shopsys\FrameworkBundle\Model\Transport\TransportFactoryInterface: '@Shopsys\ShopBundle\Model\Transport\TransportFactory'

    Shopsys\FrameworkBundle\Model\Transport\TransportDataFactoryInterface: '@Shopsys\ShopBundle\Model\Transport\TransportDataFactory'

    Shopsys\ShopBundle\Model\Category\CurrentCategoryResolver: ~

    Shopsys\FrameworkBundle\Model\Product\ProductFactoryInterface: '@Shopsys\ShopBundle\Model\Product\ProductFactory'

    Shopsys\FrameworkBundle\Model\Product\ProductDataFactoryInterface: '@Shopsys\ShopBundle\Model\Product\ProductDataFactory'

    Shopsys\ProductFeed\GoogleBundle\Model\FeedItem\GoogleFeedItemFactory: '@Shopsys\ShopBundle\Model\Product\Feed\Google\GoogleFeedItemFactory'

    League\Flysystem\FilesystemInterface: '@main_filesystem'

    Shopsys\FrameworkBundle\Model\Category\CategoryFactoryInterface: '@Shopsys\ShopBundle\Model\Category\CategoryFactory'

    Shopsys\FrameworkBundle\Model\Category\CategoryDataFactoryInterface: '@Shopsys\ShopBundle\Model\Category\CategoryDataFactory'

    twig_cache_extension.cache_provider:
        class: Doctrine\Common\Cache\RedisCache
        factory: 'Shopsys\FrameworkBundle\Component\Doctrine\Cache\RedisCacheFactory:create'
        arguments:
            - '@snc_redis.twig'

    twig_cache_extension.cache_strategy:
        class: Shopsys\ShopBundle\Twig\CurrentDomainLifetimeCacheStrategy
        arguments:
            - '@twig_cache_extension.cache_provider'

    twig_cache_extension:
        class: Asm89\Twig\CacheExtension\Extension
        arguments:
            - '@twig_cache_extension.cache_strategy'
        tags:
            - { name: twig.extension }

    Shopsys\FrameworkBundle\Model\Order\OrderFactoryInterface: '@Shopsys\ShopBundle\Model\Order\OrderFactory'

    Shopsys\FrameworkBundle\Model\Order\OrderDataFactoryInterface: '@Shopsys\ShopBundle\Model\Order\OrderDataFactory'

    Shopsys\FrameworkBundle\Model\Customer\CustomerFacade: '@Shopsys\ShopBundle\Model\Customer\CustomerFacade'

    Shopsys\FrameworkBundle\Model\Customer\UserRepository: '@Shopsys\ShopBundle\Model\Customer\UserRepository'

    Shopsys\FrameworkBundle\Model\Order\OrderFacade: '@Shopsys\ShopBundle\Model\Order\OrderFacade'

    Shopsys\FrameworkBundle\Model\Order\OrderRepository: '@Shopsys\ShopBundle\Model\Order\OrderRepository'

    Shopsys\ShopBundle\Model\Order\FrontOrderData: ~

    Shopsys\FrameworkBundle\Model\Order\FrontOrderData: '@Shopsys\ShopBundle\Model\Order\FrontOrderData'

    Shopsys\ShopBundle\Model\Order\OrderDataMapper: ~

    Shopsys\FrameworkBundle\Model\Order\OrderDataMapper: '@Shopsys\ShopBundle\Model\Order\OrderDataMapper'

    Shopsys\ShopBundle\Model\PickUpPlace\PickUpPlaceFacade: ~

    Shopsys\ShopBundle\Model\PickUpPlace\PickUpPlaceIdToEntityTransformer: ~

    Shopsys\ShopBundle\Model\PickUpPlace\PickUpPlaceLoader: ~

    Shopsys\ShopBundle\Model\PickUpPlace\PickUpPlaceRepository: ~

    Shopsys\FrameworkBundle\Model\AdminNavigation\SideMenuBuilder:
        class: Shopsys\ShopBundle\Model\AdminNavigation\SideMenuBuilder
        public: true
        arguments:
            $menuFactory: '@knp_menu.factory'
        tags:
            - { name: knp_menu.menu_builder, method: createMenu, alias: admin_side_menu }

    Shopsys\FrameworkBundle\Twig\FormThemeExtension:
        class: Shopsys\ShopBundle\Twig\FormThemeExtension

    Shopsys\FrameworkBundle\Model\Advert\AdvertPositionRegistry:
        class: Shopsys\ShopBundle\Model\Advert\AdvertPositionRegistry
