{% extends '@ShopsysShop/Front/Layout/layout.html.twig' %}

{% block content %}
    {% block breadcrumb %}
        {{ render(controller('ShopsysShopBundle:Front/Breadcrumb:index', { routeName: getRoute(), routeParameters: getRouteParams() } )) }}
    {% endblock %}
    <div class="web__main web__main--with-panel">
        <div class="web__main__content js-main-content">
            
            {{ render(controller('ShopsysShopBundle:Front/FlashMessage:index')) }}

            {% block main_content %}{% endblock %}
        </div>

        <div class="web__main__panel">
            <div class="wrap-shadow">
                {% cache 'category_panel'~app.request.pathinfo 5*60 %}
                    {{ render(controller('ShopsysShopBundle:Front/Category:panel', { request: app.request } )) }}
                {% endcache %}
            </div>

            {% block panel_content %}{% endblock %}

            {{ render(controller('ShopsysShopBundle:Front/Advert:box',{'positionName' : constant('Shopsys\\FrameworkBundle\\Model\\Advert\\Advert::POSITION_LEFT_SIDEBAR')})) }}
        </div>
    </div>
{% endblock %}
